h1{
    background-color: green;
    color: white;
    padding: 20px;
}
table tr td{
    border: 1px solid black;
    padding: 15px;
}
table tr th{
    border: 1px solid black;
    padding: 15px;
}